arpa-messages {
    display: flex;
    flex-direction: column;
    width: 100%;

    .message:not(:only-child) {
        margin-bottom: 0.5rem;
    }
}

.arpaForm__messages.arpaForm__messages:empty {
    display: none;
    margin-bottom: 0;
}
