:root {
    --msg-border-color: var(--grey-600);
    --msg-icon-color: var(--grey-600);
    --msg-success-bg: #d4ebce;
    --msg-bg: var(--grey-50);
    --msg-border-color: var(--grey-400);
}

.message.message {
    align-items: center;
    border-left: 5px solid var(--msg-border-color);
    border-radius: .2rem;
    background-color: var(--msg-bg);
    list-style-type: none;
    font-weight: 500;
    font-size: 13px;
    color: var(--grey-700);
    gap: 4px;
    padding: .75rem;
    
    transition: var(--theme-transition);
    box-shadow: var(--box-shadow);

    arpa-icon.icon {
        color: var(--msg-icon-color);
        font-size: 22px;
        top: 2px;
        align-self: center;
    }

    > .listItem__rhs {
        align-self: flex-start;
    }

    > .listItem__main {
        padding: .75rem .45rem;
        gap: .5rem;
    }

    .listItem__main {
        padding: 0;
    }
}

info-message.message {
    --msg-border-color: var(--blue-navy);
    --msg-bg: var(--blue-light);
    --msg-icon-color: var(--blue-navy);
}

success-message.message {
    --msg-border-color: var(--green-forest);
    --msg-bg: var(--bg-light-green);
    --msg-icon-color: var(--green-forest);
}

error-message.message {
    --msg-border-color: var(--red-dark);
    --msg-bg: var(--bg-light-red);
    --msg-icon-color: var(--red-dark);
}

warning-message.message {
    --msg-border-color: var(--orange);
    --msg-bg: var(--orange-light);
    --msg-icon-color: var(--orange);
}

button.message__closeButton {
    margin-left: auto;
    background-color: transparent;
    border: none !important;
    align-self: flex-start;
    padding: 8px;
}

button.message__closeButton:hover,
button.message__closeButton:focus {
    background-color: transparent;
}

button.message__closeButton .iconButton__content {
    color: var(--grey-600);
    font-size: 16px;
}

button.message__closeButton:hover .iconButton__content,
button.message__closeButton:focus .iconButton__content {
    color: #34473b;
}