:root {
    --msg-icon-color: var(--grey-600);
    --msg-success-bg: #d4ebce;
    --msg-bg: var(--grey-50);
    --msg-color: var(--grey-600);
    --msg-border-color: var(--grey-400);
    --msg-weight: 600;

    /* --msg-transition-out: transform 0.2s var(--easeInExpo), max-height 0.4s var(--easeOutExpo) 0.4s,
        height 0.4s var(--easeOutExpo) 0.4s, padding-top 0.4s var(--easeOutExpo) 0.4s,
        padding-bottom 0.4s var(--easeOutExpo) 0.4s, margin-top 0.4s var(--easeOutExpo) 0.4s,
        margin-bottom 0.4s var(--easeOutExpo) 0.4s;

    --msg-transition-in: opacity 0.5s var(--easeInQuad) 0.3s, margin 0.4s var(--easeOutExpo),
        height 0.4s var(--easeOutSine), padding-top 0.4s var(--easeOutQuad),
        padding-bottom 0.4s var(--easeOutQuad); */
}

.message.message {
    gap: 4px;
    align-items: center;
    padding: 0.75rem;
    font-size: 13px;
    color: var(--msg-color);
    list-style-type: none;
    background-color: var(--msg-bg);
    border-left: 4px solid var(--msg-border-color);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    transition: all 0.6s var(--easeOutExpo);

    &.message--closing.message--closing {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateX(100%);
    }

    .listItem__content {
        font-weight: var(--msg-weight);
        color: var(--msg-color);
    }

    .listItem__contentWrapper {
        padding: 0;
    }

    arpa-icon.icon {
        position: relative;
        align-self: flex-start;
        font-size: 20px;
        color: var(--msg-icon-color);
    }

    > .listItem__rhs {
        align-self: flex-start;
    }

    ul,
    ol {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem;
        margin: 0;
    }

    .listItem__main {
        padding: 0;
    }

    a.listItem__main,
    button.listItem__main {
        &:hover,
        &:focus {
            .listItem__content,
            arpa-icon {
                color: inherit;
            }
        }
    }
}

info-message.message {
    --msg-border-color: var(--blue-navy);
    --msg-bg: var(--blue-light);
    --msg-icon-color: var(--blue-navy);
}

success-message.message {
    --msg-border-color: var(--green-forest);
    --msg-bg: var(--bg-light-green);
    --msg-icon-color: var(--green-forest);
}

error-message.message {
    --msg-border-color: var(--red-dark);
    --msg-bg: var(--bg-light-red);
    --msg-icon-color: var(--red-dark);
}

warning-message.message {
    --msg-border-color: var(--orange);
    --msg-bg: var(--orange-light);
    --msg-icon-color: var(--orange);
}

.message__closeButton {
    --icon-button-size: 2rem;

    align-self: flex-start;
    margin-left: auto;
    background-color: transparent;
}

button.message__closeButton:hover,
button.message__closeButton:focus {
    background-color: transparent;
}

button.message__closeButton .iconButton__content {
    font-size: 16px;
    color: var(--grey-600);
}

button.message__closeButton:hover .iconButton__content,
button.message__closeButton:focus .iconButton__content {
    color: #34473b;
}
